@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--color1: #178FEB;
	--sprites: url('sprites.svg');
}

body {
	margin: 2px;
	font-family: 'Inter';
}



nav {
	position: fixed;
	top   : 2px;
	left  : 2px;
	width : 64px;
	height: calc(100vh - 4px);
	padding: 20px 0px;
	box-sizing: border-box;
	background: #F4F4F4;
}
@media (max-width: 767px) {
	nav {
		width : 48px;
	}
}
nav a {
	display: block;
	margin: 0px 0px 20px 0px;
	color: #666666;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: unset;
}
@media (max-width: 767px) {
	nav a {
		margin: 0px 0px 10px 0px;
	}
}
nav a:hover {
	color: #000000;
}
nav .ico {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0px auto 0px auto;
	background-image: var(--sprites);
}
@media (max-width: 767px) {
	nav .ico {
		transform: scale(0.75);
	}
}
nav a:hover .ico {
	background-color: #EDEDED;
	border-radius: 24px;
}
nav .lbl {
	display: block;
	text-align: center;
}
@media (max-width: 767px) {
	nav .lbl {
		display: none;
	}
}
.ico_search  { background-position: -16px -16px; }
.ico_refresh { background-position: -16px -64px; }
.ico_folder  { background-position: -16px -112px; }
.ico_files   { background-position: -16px -160px; }



main {
	margin: 0px 0px 0px 100px;
}
@media (max-width: 767px) {
	main {
		margin: 0px 0px 0px 66px;
	}
}

h1 {
	display: flex;
	align-items: center;
	margin: 16px 0px 16px 0px;
	padding: 0px 0px 16px 0px;
	font-size  : 20px;
	font-weight: 900;
	border-bottom: 1px solid #E7E7E7;
}
h1 .ico_home {
	width : 24px;
	height: 24px;
	margin: 0px 10px 0px 0px;
	background: var(--sprites) -80px -16px;
}
h2 {
	position: relative;
	margin : -20px -20px 10px -20px;
	padding: 10px 10px 10px 10px;
	font-size  : 14px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #F4F4F4;
	z-index: 1;
}


.entries {
}
.row.dir,
.row.file {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 24px 1fr 100px 150px 75px;
	height: 24px;
	line-height: 24px;
}
.row.dir:hover,
.row.file:hover {
	background: #FFFBF0;
}
.row.dir .ico_dir,
.row.file ico_fle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	color: white;
}
.row.dir .ico_dir {
	background: var(--sprites) -208px -16px;
}
.row.file .ico_fle {
	background: var(--sprites) -272px -16px;
}
.row.sub {
	margin: 0px 0px 0px 29px;
}
.row.dir,
.row.file {
	padding: 8px 0px;
	border-bottom: 1px solid #E7E7E7;
}
/* .row.dir:last-child,
.row.file:last-child {
	padding: 8px 0px 0px 0px;
	border: unset;
} */

@media (max-width: 767px) {
	.row.dir,
	.row.file {
		grid-template-columns: 24px 150px 100px 75px;
		height: auto;
	}
	.row.dir .ico,
	.row.file .ico {
		grid-row: 1/3;
		grid-column: 1/2;
	}
	.row.dir .name,
	.row.file .name {
		grid-row: 1/2;
		grid-column: 2/5;
	}
	.row.dir .dt,
	.row.file .dt {
		grid-row: 2/3;
		grid-column: 2/3;
	}
	.row.dir .size,
	.row.file .size {
		grid-row: 2/3;
		grid-column: 3/4;
	}
}


.size {
	font-weight: 300;
	text-align: right;
}
.size_b:after,
.size_kb:after,
.size_mb:after,
.size_gb:after {
    font-size: 12px;
}
.size_b:after {
    content: ' b.';
}
.size_kb:after {
    content: ' Kb.';
}
.size_mb:after {
    content: ' Mb.';
}
.size_gb:after {
    content: ' Gb.';
}




#create,
#search {
	position: fixed;
	top   : 100px;
	left  : 50%;
	width : 300px;
	margin : 0px 0px 0px -150px;
	padding: 20px 20px 20px 20px;
	box-sizing: border-box;
	border: 1px solid #E7E7E7;
	overflow: overlay;
	outline: unset;
}
#create::backdrop,
#search::backdrop {
	background: transparent;
	/* background-color: #a6c4e8d1; */
	/* filter: blur(10px); */
	backdrop-filter: blur(10px);
}
#search {
	padding: 0px 0px 0px 0px;
}
.search_form {
	padding: 20px 20px 20px 20px;
}

.btn_close {
	position: absolute;
	top   : 10px;
	right : 10px;
	width : 24px;
	height: 24px;
	background: var(--sprites) -114px -80px;
	cursor: pointer;
	z-index: 2;
}



.btn_choose,
.btn_search,
.btn_create {
	display: block;
	margin: 0px auto;
	padding: 5px 20px;
	color: #FFFFFF;
	font-family: inherit;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: var(--color1);
	border-radius: 10px;
	border: unset;
	cursor: pointer;
}
.btn_choose:hover,
.btn_search:hover,
.btn_create:hover {
	background: #333333;
}



.search_query,
.directory_name {
	display: block;
	width : 100%;
	margin : 20px 0px 20px 0px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #D7D7D7;
	border-radius: 10px;
}



.files_upload {
	margin : 0px;
	padding: 0px;
}
.files_status {
	margin : 20px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-top: 1px solid #E7E7E7;
}

.files_uploading {
	margin : 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}
.files_uploading li {
	display: flex;
	margin : 10px 0px 0px 0px;
	padding: 0px;
	line-height: 20px;
}
.files_uploading .lbl {
	flex-grow: 1;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.files_uploading .ico {
	flex-shrink: 0;
	width : 20px;
	height: 20px;
	background-image: var(--sprites);
}
.files_uploading .ico_written {
	background-position: -80px -144px;
}
.files_uploading .ico_waiting {
	background-position: -80px -176px;
}

.empty {
	margin : 0px;
	padding: 8px 0px;
	color : #A7A7A7;
	font-style: italic;
}
